
<%- include('./components/header') %>

<H1>edit question</H1>

<form id="form" action="/question/<%= question._id %>/editQuestion" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Question</label>
    <input name="question" type="text" class="form-control" value="<%= question.question %>" >
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Description</label>
    <input name="description"  type="text" class="form-control" value="<%= question.description %>" >
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<%- include('./components/footer') %>
